# Frontend Environment Variables
VITE_API_URL=https://back-fabric-soft.vercel.app/api
VITE_CLERK_SIGN_IN_URL=/sign-in
VITE_CLERK_SIGN_UP_URL=/sign-up
VITE_CLERK_PUBLISHABLE_KEY=pk_test_Y2hhcm1lZC1idW5ueS0xMy5jbGVyay5hY2NvdW50cy5kZXYk
